<div class="blog-post">
  <h2 class="blog-post-title">
    <% if policy(blog).show? %>
      <%= link_to blog.title, blog %>
    <% else %>
      blog.title
    <% end %>
  </h2>

  <p class="blog-post-meta">Published <%= time_ago_in_words blog.created_at %> ago</p>

  <%= render '/blogs/actions', blog: blog %>

  <%= blog.body %>
</div><!-- /.blog-post -->
