<div>
  <h3>Comments</h3>

  <%= render 'comments/form', comment: comment, blog: blog %>

  <div class="mt-4" data-channel="comments" data-blog-id="<%= blog.id %>">
    <%= render blog.comments %>
  </div>
</div>
