<h1>Editing Blog</h1>

<%= render 'form', blog: @blog %>

<% if policy(@blog).show? %>
  <%= link_to 'Show', @blog %> |
<% end %>

<% if policy(@blog).index? %>
  <%= link_to 'Back', blogs_path %>
<% end %>
