<main role="main" class="container mt-5">
  <% if policy(@blogs).new? %>
    <div class="mt-5 text-right">
      <%= link_to 'New Blog', new_blog_path, class: 'btn btn-success' %>
      <hr>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8 blog-main">
      <%= render @blogs %>

      <%= paginate @blogs %>
    </div><!-- /.blog-main -->

    <%= render 'sidebar' %>
  </div><!-- /.row -->
</main><!-- /.container -->
