<main role="main" class="container mt-5">
  <% if policy(@blogs).new? %>
    <div class="mt-5 text-right">
      <%= link_to 'New Blog', new_blog_path, class: 'btn btn-success' %>
      <hr>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8 blog-main">
      <%= render @blogs %>

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>
    </div><!-- /.blog-main -->

    <%= render 'sidebar' %>
  </div><!-- /.row -->
</main><!-- /.container -->
