<h1>Portfolio Items</h1>

<% if policy(@portfolio_items).new? %>
  <%= link_to 'Create New Item', new_portfolio_path %>
<% end %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
