<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h2>Office Address</h2>
    <p>Cairo, Egypt</p>

    <h2>Phone</h2>
    <p><%= number_to_phone '01000000000', country_code: 2, delimiter: ' ' %></p>

    <h2>Email</h2>
    <p><a href="mailto:mibradev@gmail.com?subject=PortfolioContact">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55251.335640568526!2d31.223444924920386!3d30.05955809832244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2sCairo%2C+Cairo+Governorate!5e0!3m2!1sen!2seg!4v1564391750210!5m2!1sen!2seg" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
